.btn button {
	border: 0;
	text-transform: uppercase;
	/* letter-spacing: 1px; */
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	visibility: visible;
	opacity: 1;
	font-weight: bold;
	border: 1px solid var(--main-grey);
	position: relative;
	background: none;
	/* font-family: "Roboto", sans-serif; */
	font-family: "Inter", sans-serif;
}
.btn button svg {
	width: 24px;
	height: 24px;
}
.btn button:hover {
	cursor: pointer;
	border: 1px solid var(--main-transparent);
	/* box-shadow: 0 6px 30px var(--main-black-gradient-half); */
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

/* Custom Styling */
.close button,
.settings button {
	/* top: 10px;
	right: 10px; */
	top: 0;
	right: 0;
	position: absolute;
	border-color: var(--main-transparent);
	/* padding: 6px 8px; */
	padding: 6px;
	border-radius: 10px;
}
.settings button {
	top: 20px;
	right: 0;
	padding: 0;
}
.close button:hover,
.settings button:hover {
	box-shadow: none;
}
.close button:hover path,
.settings button:hover path {
	fill: var(--main-black-gradient-half);
}
:global(.enableDarkMode) .settings path {
	fill: var(--main-green);
}
:global(.enableDarkMode) .settings:hover path {
	fill: var(--main-green-dark);
}

.locationSelector {
	margin: 36px 0 36px;
	display: flex;
	justify-content: center;
}
.locationSelector button {
	background: var(--main-green);
	/* background: linear-gradient(
		180deg,
		rgba(105, 231, 129, 1) 0%,
		rgba(0, 161, 82, 1) 100%
	); */
	color: var(--main-black);
	border-radius: 100px;
	display: flex;
	padding: 12px 32px 12px 48px;
	border-color: var(--main-transparent);
	font-size: medium;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	min-height: 62px;
}
.locationSelector button svg {
	width: 32px;
	height: 32px;
	margin-right: 8px;
	position: absolute;
	left: 10px;
}
.locationSelector button path {
	/* fill: var(--main-white); */
	fill: var(--main-black);
}
/* :global(.enableDarkMode .locationSelector) path {
	fill: var(--main-black);
} */
/* :global(.enableDarkMode .locationSelector) {
	background-color: var(--main-green);
	color: var(--main-black);
} */
/* @end Custom Styling */
