/* .container {
	width: 100%;
	margin-top: 18px;
}
.container ul {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.container a {
	display: block;
	padding: 8px 30px;
	margin-left: -30px;
	margin-right: -30px;
	text-transform: capitalize;
}
.container a:hover {
	text-decoration: underline;
}*/
/*
.container {
	box-shadow: 0 6px 30px var(--main-black-gradient-half);
} */
.container{
	left: 100px
}
.container a {
	/* color: var(--main-grey-solid); */
	padding: 4px 12px;
	margin-left: -12px;
	margin-right: -12px;
}
.active {
	background-color: var(--main-grey);
}
/* .container li {
	padding: 4px;
} */
/* :global(.enableDarkMode) .container,
:global(.enableDarkMode) .container ul {
	background-color: var(--main-green);
}
:global(.enableDarkMode) .container a {
	color: var(--main-black);
} */
/* .container {
	position: absolute;
}
.container ul {
	background-color: var(--main-white);
} */
