.container {
	display: inherit;
}
.container button {
	width: 100%;
	font-size: inherit;
	padding: 6px 30px;
	text-align: left;
	font-weight: normal;
	text-transform: capitalize;
	color: var(--credit-link);
}
.container button:hover {
	border: none;
	color: var(--main-green-dark);
	text-decoration: underline;
	box-shadow: none;
}
button.active {
	background-color: var(--main-green-dark);
	color: var(--main-white);
}
button.active:hover {
	color: var(--main-white);
}
.container h3 {
	font-size: 0.7em;
	text-align: left;
	text-transform: uppercase;
	padding: 0 30px;
	margin: 4px 0;
	color: #ccc;
}
