.container ul {
	display: grid;
	/* grid-template-columns: repeat(2, 1fr); */
	grid-template-columns: repeat(3, 1fr);
	/* grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0px;*/
	/* grid-row-gap: 1px;
	grid-column-gap: 1px; */
	/* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
	/* height: 50vh; */
	/* background: var(--main-black-gradient-point2); */
}
.container li {
	/* background-color: var(--main-white); */
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* border-bottom: 1px solid; */
	/* border-right: 1px solid; */
	/* border-color: var(--main-black-gradient-point2); */
	/* width: 33%; */
	/* width: 50%; */
	/* margin-left: -1px; */
	/* float: left; */
}
/* .container li:nth-child(3),
.container li:nth-child(6) {
	border-right: none;
} */
/* .container li:nth-child(even) {
	border-right: none;
} */
.container label {
	/* border: 1px solid;
	border-radius: 8px; */
	-webkit-tap-highlight-color: rgba(
		0,
		0,
		0,
		0
	); /* remove grey background when click label */
	display: flex;
	flex-direction: column;
	padding: 32px 0;
	/* padding: 28px 0; */
	/* padding: 20% 0; */
	align-items: center;
	text-transform: capitalize;
	font-weight: bold;
}
:global(.enableDarkMode) .container label {
	color: var(--main-green);
}
@media screen and (min-width: 40em) {
	/* .container label {
		padding: 56px 0;
	} */
	.container ul {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (min-width: 70em) {
	/* .container label {
		padding: 68px 0;
	} */

	.container ul {
		grid-template-columns: repeat(3, 1fr);
	}
}
/* @nedia(){
	.container ul {
		grid-template-columns: repeat(2, 1fr);
	}
} */
.notificationDisable,
.container input[type="checkbox"],
.enableNotification input[type="checkbox"]:checked + label .notification {
	display: none;
	/* visibility: hidden; */
}
.enableNotification
	input[type="checkbox"]:checked
	+ label
	.notificationDisable {
	/* visibility: visible; */
	display: block;
}
.notificationDisable path {
	fill: var(--main-black-gradient-half);
}
:global(.enableDarkMode) .notification path {
	fill: var(--main-green);
}
:global(.enableDarkMode) .notificationDisable path {
	fill: var(--main-green-dark);
}
/* :global(.nextPrayer):before {
	content: "";
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	background-color: var(--main-black-gradient-half);
} */
.currentPrayerTime .salahName:before {
	/* content: ">"; */
	/* content: "*"; */
	content: " ";
	position: absolute;
	/* left: -14px; */
	padding: 8px;
	left: -25px;
	/* background-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%); */
	background: rgb(105, 231, 129);
	background: linear-gradient(
		180deg,
		rgba(105, 231, 129, 1) 0%,
		rgba(0, 161, 82, 1) 100%
	);
	top: 0;
	position: absolute;
	border-radius: 8px;
}
.enableNotification input[type="checkbox"]:checked + label .salahName {
	color: var(--main-grey-solid);
}
:global(.enableDarkMode) .salahName {
	color: var(--main-green);
}
:global(.enableDarkMode)
	.enableNotification
	input[type="checkbox"]:checked
	+ label
	.salahName {
	color: var(--main-green-dark);
}
.salahName {
	position: relative;
	/* font-size: 22px; */
	font-size: 18px;
	font-weight: bold;
	/* margin-bottom: 4px; */
}
.salahTime {
	font-weight: normal;
	text-transform: uppercase;
	font-size: medium;
	/* font-weight: bold; */
	display: block;
	color: var(--main-black-gradient-half);
}
:global(.enableDarkMode) .salahTime {
	color: var(--main-white);
}
.icon {
	width: 24px;
	height: 24px;
	margin-bottom: 10px;
	/* width: 28px;
	height: 28px;
	background-size: 30px;*/
	/* position: absolute;
	left: 10px;
	bottom: 34px; */
}
