.overlay {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 8;
	background-color: var(--main-black-gradient-half);
}

.modal {
	-webkit-overflow-scrolling: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/* 10% occupied by padding */
	/* width: 90%;  */
	/*
	border-radius: var(--default-radius);
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) scale(0.9);
	-moz-transform: translate(-50%, -50%) scale(0.9);
	-ms-transform: translate(-50%, -50%) scale(0.9);
	-o-transform: translate(-50%, -50%) scale(0.9);
	transform: translate(-50%, -50%) scale(0.9); */
	overflow-y: auto;
	overflow-x: hidden;
	/* box-shadow: 0px 6px 30px var(--main-black-gradient-half); */
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
	visibility: hidden;
	opacity: 0;
	/* -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s; */
	z-index: 10;
	background-color: var(--main-white);
	/* width: 100%; */
	/* height: 100%; */
}
/* .modal .overlay {
	content: "";
	display: block;
	position: fixed;
	inset: 0px;
	background-color: rgba(255, 255, 255, 0.75);
} */
.modal {
	/* width: calc(80%); */
	height: auto;
	max-width: 900px;
}
.modal .content {
	min-height: inherit;
}
.modal .content {
	width: 100%;
	max-width: 900px;
	/* overflow: hidden; */
	/* text-align: center; */
	position: relative;
	/* line-height: 1.4rem; */
	/* background-color: var(--main-grey-half); */
	/* min-height: 100vh; */
}

/* .modal .content .container { */
/* background: yellow;
	padding: 100px 20px 140px;
	margin: 40px 20px; */
/* margin: 28px 0; */
/* background-color: var(--main-white); */
/* border-top: 1px solid var(--main-grey);
	border-bottom: 1px solid var(--main-grey);
	margin: 38px 0; */
/* max-height: calc(100vh - 10em); */
/* max-height: 72vh; */
/* max-height: 56vh; */
/* overflow-y: auto; */
/* } */

/* .modal .content .close {
	position: absolute;
	top: 0;
	left: 0;
	border: none;
	letter-spacing: 0.05rem;
	color: #3e4146;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	padding: 10px;
	color: var(--main-white);
} */
.modal .content g {
	fill: red;
}

/* .modal .content .close:hover {
	cursor: pointer;
	border: none;
	color: #f66867;
} */
.modal.open {
	visibility: visible;
	opacity: 1;
	/* -webkit-transform: translate(-50%, -50%) scale(1);
	-moz-transform: translate(-50%, -50%) scale(1);
	-ms-transform: translate(-50%, -50%) scale(1);
	-o-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1); */
}

@media screen and (min-width: 400px), screen and (orientation: landscape) {
	.modal {
		-webkit-overflow-scrolling: auto;
		border-radius: var(--default-radius);
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%) scale(0.9);
		-moz-transform: translate(-50%, -50%) scale(0.9);
		-ms-transform: translate(-50%, -50%) scale(0.9);
		-o-transform: translate(-50%, -50%) scale(0.9);
		transform: translate(-50%, -50%) scale(0.9);
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
		visibility: hidden;
		opacity: 0;
		z-index: 10;
		background-color: var(--main-white);
		width: 90%; /* 10% occupied by padding */
	}
	.modal .content {
		width: 100%;
		max-width: 900px;
		overflow: hidden;
		position: relative;
	}
	.modal .content .container {
		border-top: 1px solid var(--main-grey);
		border-bottom: 1px solid var(--main-grey);
		margin: 38px 0;
		/* max-height: 56vh; */
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}
}

/* @media (min-width: 768px) {
	.modal {
		width: calc(80%);
		height: auto;
		max-width: 900px;
	}
	.modal .content {
		min-height: inherit;
	}
} */

/* @media (min-width: 480px) {
	.modal .content .container {
		padding: 50px 20px 80px;
		background: red;
		padding: 50px 20px;
	}
} */

/* @media (min-width: 768px) {
	.modal .content .container {
		background: yellow;
	}
	.modal {
		width: calc(80%);
		height: auto;
		max-width: 900px;
	}
	.modal .content {
		min-height: inherit;
	}
} */

/*
@media (min-width: 992px) {
	.modal .content .container {
		background: green;
	}
} */

/* .bounceIn {
	animation-name: bounceIn;
	animation-duration: 250ms;
}

.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}

@keyframes bounceIn {
	from,
	50%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	from {
		opacity: 0.2;
		transform: scale3d(0.6, 0.6, 0.6);
	}
	50% {
		transform: scale3d(1.1, 1.1, 1.1);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
} */

/* end Popup.less */
