.loadingBarContainer {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/* background: url("../src/images/loadingBar.svg") 0 0 no-repeat; */
	background-color: var(--main-white);
	/* background-size: 50%; */
	z-index: 8;
	/* padding: 10px 0 10px 40px; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: var(--full-height);
	font-size: 0.8em;
}
:global(.enableDarkMode) .loadingBarContainer {
	background-color: var(--main-darkMode);
}
.spinner {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
}

.loadingBarContainer footer {
	/* padding-bottom: 28px; */
	position: relative;
	bottom: 36px;
	font-size: 0.8em;
	text-align: center;
	text-transform: capitalize;
	color: var(--credit-link);
}
/* .loadingBarContainer span {
	display: block;
} */
.loadingBarContainer a {
	color: var(--credit-link);
	/* text-decoration: underline; */
	border-bottom: 1px dotted;
}
.loadingBarContainer a:hover {
	border-bottom: 1px solid;
	text-decoration: none;
}
