/* .container {
	display: flex;
	flex-flow: column;
	font-weight: normal;
} */

.container span {
	font-size: 1.4rem;
	display: block;
	padding: 0 0 12px;
}

.container b {
	font-family: "Gelasio", serif;
	text-transform: capitalize;
}
