.datePicker {
	/* margin: 0 12px; */
	color: var(--main-black);
}
.datePicker small {
	color: var(--main-black-gradient-half);
}
:global(.enableDarkMode) .datePicker {
	color: var(--main-grey);
}
:global(.enableDarkMode) small {
	color: var(--main-white);
}
/* .datePicker span {
	font-weight: bold;
	font-size: 18px;
} */
/* .datePicker small {
	display: block;
	font-size: small;
	font-weight: normal;
	text-transform: uppercase;
} */
.datePicker .arabic {
	/* unicode-bidi: bidi-override; */
	direction: rtl;
}
