.datePicker {
	/* position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 12px;*/
	/* display: flex;
	justify-content: center;
	align-items: center; */
	/* margin-right: 8px; */
	flex: 1;
	color: var(--button-mainColor);
}
/* .datePicker span {
	display: block;
} */
