.locationSelector {
	position: relative;
	max-width: 100%;
	transition-duration: 300ms;
	margin: 0 auto;
	overflow: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
.locationSelector ul {
	text-align: left;
	width: 100%;
}
.home {
	margin-bottom: 20px;
}
.home a:before {
	content: "â†";
	width: 20px;
	height: 20px;
}
.locationSelector > ul {
	left: 0;
	position: relative;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
.locationSelector > ul li {
	padding: 0 0 18px;
}
.locationSelector li ul {
	top: 0;
	left: 100%;
	display: none;
	position: absolute;
	overflow: auto;
	height: 100%;
}
.locationSelector ul.active {
	transition-duration: 300ms;
	left: -100%;
}
.locationSelector a.active {
	background-color: var(--main-green);
}
.locationSelector ul.stateActive {
	display: block;
}
