.locationSelector {
	position: relative;
	/* max-width: 100%; */
	transition-duration: 300ms;
	/* margin: 0 auto; */
	padding-top: 3.8em;
	overflow: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
.locationSelector.top {
	margin-top: 3em;
}
.locationSelector ul {
	text-align: left;
	width: 100%;
}
.locationSelector li ul {
	top: 0;
	/* top: 50px; */
	bottom: 0;
	left: 100%;
	display: none;
	position: absolute;
	overflow: auto;
	/* height: 100%; */
}
.locationSelector ul.active {
	transition-duration: 300ms;
	left: -100%;
}
.locationSelector > ul {
	left: 0;
	position: relative;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	/* height: 100vh; */
	/* padding: 10px 0; */
}
.locationSelector a {
	padding: 6px 38px;
	display: block;
}
.locationSelector a:hover {
	cursor: pointer;
}
.locationSelector a.active {
	background-color: var(--main-grey);
	/* background-color: var(--main-green); */
}
.locationSelector ul.stateActive {
	display: block;
}

.home {
	/* margin: 12px 0; */
	/* height: 3em; */
	display: flex;
	align-items: center;
}
.home a {
	padding: 14px 38px;
	width: 100%;
}
.home a:before {
	content: "←";
	width: 20px;
	height: 20px;
	margin-right: 12px;
}
