@import url("https://rsms.me/inter/inter.css");
html {
	-webkit-text-size-adjust: 100%;
	/* font-size: 1.125em;
	line-height: 1.4; */
	font-size: 18px;
	letter-spacing: -0.014em;
	line-height: 25px;
}
html,
body {
	width: 100%;
	height: 100%;
}
:root {
	--link: #1d1da3;
	--main-green: #69e781;
	--main-green-dark: #00a152;
	--main-white: #ffffff;
	--main-black: #000000;
	--main-transparent: transparent;
	--main-darkMode: #333333;
	--main-grey: #e1e1e1;
	--main-grey-half: #efefef;
	--main-grey-solid: #666666;
	--credit-link: #5f6368;
	--main-black-gradient-half: rgba(0, 0, 0, 0.5);
	--main-black-gradient-point1: rgba(0, 0, 0, 0.1);
	--main-black-gradient-point2: rgba(0, 0, 0, 0.2);
	--main-black-gradient-point5: rgba(0, 0, 0, 0.5);
	--default-radius: 6px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
}
html {
	font-family: "Inter", sans-serif;
}
body {
	color: var(--main-darkMode);
	min-height: 100vh;
	/* font-family: "Roboto", sans-serif; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: var(--main-darkMode);
}
a:hover {
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
}
a:hover {
	text-decoration: underline;
}
.wrapper {
	padding: 0 10%;
	min-height: 100vh;
}
article {
	padding: 30px 0 120px;
	/* margin: 30px 0; */
	/* display: grid;
	grid-gap: 60px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
}
/* .loadingBarContainer, */
footer,
article,
header {
	position: relative;
}
footer {
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);

	z-index: 2;
	min-height: 4em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: smaller;
	padding: 0 10%;
	background: var(--main-white);
	/* border-color: var(--main-black-gradient-half); */
}
.enableDarkMode footer {
	background: var(--main-darkMode);
}

/* Custom CSS */
header {
	/* padding: 60px 0 30px; */
	padding: 120px 0 0;
	text-align: center;
}

.isMinimal header {
	padding: 0;
	display: flex;
	/* margin-top: -3em; */
	/* margin-top: -2em; */
	height: calc(100vh - 4em);
	/* height: 100vh; */
	text-align: center;
	flex-direction: column;
	justify-content: center;
}

/* Dark Mode Colors */
.enableDarkMode {
	background-color: var(--main-darkMode);
	color: var(--main-white);
}
/* @end Dark Mode Colors */

/* Credit Settings Container  */
a.settings {
	margin-left: 8px;
	text-transform: capitalize;
	text-align: center;
	line-height: 2em;
	/* text-decoration: underline; */
	min-width: 50px;
	display: inline-block;
	color: var(--credit-link);
}
/* a.settings:hover {
	color: var(--main-black-gradient-half);
} */
.enableDarkMode a.settings {
	color: var(--main-green);
}
.enableDarkMode a.settings:hover {
	color: var(--main-green-dark);
}
.settingsContainer {
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	/* padding: 0 30px; */
	border-radius: var(--default-radius);
	text-transform: capitalize;
	/* padding: 12px 14px; */
	/* left: 96px; */
	left: 134px;
	/* top: 3em; */
	bottom: 50px;
	padding: 4px 12px;
	/* right: 0; */
	/* min-width: 140px; */
	position: absolute;
	background-color: var(--main-white);
	/* box-shadow: 0 6px 30px var(--main-black-gradient-half); */
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
.settingsContainer.bahasa,
.settingsContainer.english,
.settingsContainer.arabic {
	/* left: 138px; */
	/* left: 29px; */
	left: 86px;
}
.settingsContainer input {
	display: none;
	margin-right: 6px;
}
.settingsContainer svg {
	width: 12px;
	height: 12px;
	margin-right: 6px;
}
/* .settingsContainer svg #icons {
	display: none;
} */

/* .settingsContainer input[type="checkbox"]:checked + label > .notification { */
/* .settingsContainer input[type="checkbox"]:checked ~ svg #icons { */
/* + label .notification { */
/* visibility: visible; */
/* display: block;
	border: 1px solid;
} */

.settingsContainer label {
	display: flex;
	align-items: center;
	padding: 4px 12px;
	margin-left: -12px;
	margin-right: -12px;
	/* flex-basis: 100%;*/
	/* padding-left: 20px; */
}
.settingsContainer a,
.settingsContainer label {
	color: var(--credit-link);
}
.settingsContainer a:hover,
.settingsContainer label:hover {
	color: var(--main-green-dark);
	text-decoration: underline;
}
.settingsContainer label:hover {
	cursor: pointer;
}
.settingsContainer input[type="checkbox"]:checked + label svg path {
	fill: var(--main-black-gradient-half);
	display: block;
}
.settingsContainer svg path {
	fill: var(--main-black-gradient-point1);
	/* display: none; */
}

/* .settingsContainer hr {
	margin: 4px 0;
	background-color: var(--main-white);
	border-color: var(--main-transparent);
	flex-basis: 100%;
}
.settingsContainer hr:last-child {
	display: none;
} */
