@import url("https://rsms.me/inter/inter.css");

html {
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: subpixel-antialiased;
	/* font-size: 1.125em;
	line-height: 1.4; */
	scroll-behavior: smooth;
	/* font-size: 18px;
	letter-spacing: -0.014em;
	line-height: 25px; */
}
html,
body {
	width: 100%;
	height: 100%;
}
/*
@custom-media ---viewport-4;
@custom-media --viewport-7 (min-width: 768px);
@custom-media --viewport-9 (min-width: 992px);
@custom-media --viewport-12 (min-width: 1200px);
*/
:root {
	--link: #1d1da3;
	--main-green: #69e781;
	--main-green-dark: #00a152;
	--main-white: #ffffff;
	--main-black: #000000;
	--main-transparent: transparent;
	--main-darkMode: #333333;
	--main-darkMode-half: #303030;
	--main-grey: #e1e1e1;
	--main-grey-half: #efefef;
	--main-grey-solid: #666666;
	--credit-link: #5f6368;
	--main-black-gradient-half: rgba(0, 0, 0, 0.5);
	--main-black-gradient-point1: rgba(0, 0, 0, 0.1);
	--main-black-gradient-point2: rgba(0, 0, 0, 0.2);
	--main-black-gradient-point5: rgba(0, 0, 0, 0.5);
	--default-radius: 10px;
	--viewport-4: (min-width: 480px);
	/* --viewport-4: 480px; */
	--viewport-7: (min-width: 768px);
	/* --viewport-7: 768px; */
	--viewport-9: (min-width: 992px);
	/* --viewport-9: 992px; */
	--viewport-12: (min-width: 1200px);
	/* --viewport-12: 1200px; */
	--full-height: 100vh;
	/* --vh: 1vh; */
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
}
html {
	font-family: "Inter", sans-serif;
}
body {
	color: var(--main-darkMode);
	min-height: var(--full-height);
	min-height: -webkit-fill-available;
	/* font-family: "Roboto", sans-serif; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 20px;
	letter-spacing: -0.017em;
	line-height: 28px;
}

a {
	text-decoration: none;
	color: var(--main-darkMode);
}
a:hover {
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
}
a:hover {
	text-decoration: underline;
}
h2 {
	font-weight: normal;
	/* line-height: 2.2em; */
	/* font-size: 38px; */
	/* font-size: 1.8em; */
}
.wrapper {
	height: var(--full-height);
	min-height: -webkit-fill-available;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	scroll-snap-type: y mandatory;
	scroll-snap-type: mandatory;
}
.enableDarkMode.wrapper {
	background: linear-gradient(
		180deg,
		var(--main-darkMode) 50%,
		var(--main-darkMode-half) 50%
	);
	color: var(--main-white);
}
.isMinimal.wrapper {
	overflow-y: auto;
	background: var(--main-white);
}
.isMinimal.enableDarkMode.wrapper {
	background: var(--main-darkMode);
}
article {
	padding: 0 4%;
	height: calc(var(--full-height) - 30vh);
	background: var(--main-grey-half);
}
.enableDarkMode article {
	background: var(--main-darkMode-half);
}

/* .loadingBarContainer, */
/* aside,
aside div,
article,
header {
	position: relative;
} */
aside section {
	position: relative;
}
aside {
	/* padding: 0 10%; */
	/* box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2); */
	z-index: 2;
	position: fixed;
	left: 0;
	right: 0;
	/* width: 100%; */
	bottom: 0;
	/* position: sticky; */
	/* bottom: 10px; */
	/* top: 0; */
	/* left: 10%;
	right: 10%; */
	/* position:absolute; */
	/* padding-bottom: 10px; */
	/* font-size: 18px; */
	/* background: var(--main-white); */
	/* color: var(--main-white); */
	/* border-color: var(--main-black-gradient-half); */
	/* background: var(--main-green-dark); */
	-moz-box-shadow: inset 0 -10px 10px -10px #000000;
	-webkit-box-shadow: inset 0 -10px 10px -10px #000000;
	box-shadow: inset 0 -10px 10px -10px #000000;
	/* padding: 6px 10%; */
	padding: 0 10%;
	height: calc(var(--full-height) - 90vh);
	font-size: 14px;
}
.enableDarkMode aside {
	color: var(--main-white);
}
.isMinimal aside {
	box-shadow: none;
}
aside div {
	display: flex;
	justify-content: space-between;
}
/* .enableDarkMode aside {
	background: var(--main-darkMode);
} */

/* Custom CSS */
header {
	text-align: center;
	color: var(--main-black);
	background: var(--main-white);
}
header,
header .content {
	/* height: 99vh; */
	height: 90vh;
}
.isMinimal header,
.isMinimal header .content {
	height: var(--full-height);
	min-height: -webkit-fill-available;
}
header .subcontent {
	top: 0;
	position: sticky;
	height: calc(var(--full-height) - 70vh);
}
.enableDarkMode header {
	background: var(--main-darkMode);
}

header,
aside,
header .content,
header .subcontent,
article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
}
header,
article {
	scroll-snap-align: start;
	scroll-snap-coordinate: 0 0;
}

h3.locationSelectorTitle {
	/* position: sticky; */
	position: fixed;
	/* width: 100%; */
	top: 0;
	left: 0;
	right: 0;
	padding: 0 38px;
	/* height: 3em; */
	height: 2.5em;
	display: flex;
	align-items: center;
	background-color: var(--main-white);
	z-index: 9;
	/* border-bottom: 1px solid #ccc; */
	border-bottom: 1px solid var(--main-black-gradient-point2);
	box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

/* Credit Settings Container  */
a.settings {
	margin-left: 8px;
	text-transform: capitalize;
	text-align: center;
	line-height: 2em;
	min-width: 50px;
	display: inline-block;
	color: var(--credit-link);
}
.enableDarkMode a.settings {
	color: var(--main-green);
}
.enableDarkMode a.settings:hover {
	color: var(--main-green-dark);
}
.settingsContainer {
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	/* padding: 0 30px; */
	border-radius: var(--default-radius);
	text-transform: capitalize;
	/* padding: 12px 14px; */
	/* left: 96px; */
	/* left: 80px; */
	/* top: 3em; */
	/* right: -50px; */
	bottom: 30px;
	padding: 4px 0;
	/* right: 0; */
	/* min-width: 140px; */
	position: absolute;
	background-color: var(--main-white);
	/* box-shadow: 0 6px 30px var(--main-black-gradient-half); */
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
/* .settingsContainer.bahasa,
.settingsContainer.english,
.settingsContainer.arabic { */
.settingsContainer.languages {
	/* left: 138px; */
	width: 94px;
	left: -16px;
	/* left: 86px; */
}
.settingsContainer input {
	display: none;
	margin-right: 6px;
}
.settingsContainer svg {
	width: 12px;
	height: 12px;
	margin-right: 6px;
}
/* .settingsContainer svg #icons {
	display: none;
} */

/* .settingsContainer input[type="checkbox"]:checked + label > .notification { */
/* .settingsContainer input[type="checkbox"]:checked ~ svg #icons { */
/* + label .notification { */
/* visibility: visible; */
/* display: block;
	border: 1px solid;
} */

.settingsContainer label {
	display: flex;
	align-items: center;
	padding: 2px 12px;
	min-width: 136px;
	/* margin-left: -12px;
	margin-right: -12px; */
	/* flex-basis: 100%;*/
	/* padding-left: 20px; */
}
.settingsContainer a,
.settingsContainer label {
	color: var(--credit-link);
}
.settingsContainer a:hover,
.settingsContainer label:hover {
	color: var(--main-green-dark);
	text-decoration: underline;
}
.settingsContainer label:hover {
	cursor: pointer;
}
.settingsContainer input[type="checkbox"]:checked + label svg path {
	fill: var(--main-black-gradient-half);
	display: block;
}
.settingsContainer svg path {
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	fill: var(--main-black-gradient-point1);
	/* display: none; */
}
@media screen and (min-width: 40em) {
	/* .wrapper {
		border: 2px solid red;
	} */
	header,
	header .content {
		height: 93vh;
	}
	aside {
		height: calc(var(--full-height) - 93vh);
	}
}
@media screen and (min-width: 70em) {
	/* .wrapper {
		border: 2px solid yellow;
	} */
	header,
	header .content {
		height: 93vh;
	}
	aside {
		height: calc(var(--full-height) - 93vh);
	}
}
